:root {
  /* Color Variables */

  --primary-color-blue: navy;
  --secondary-color-white: white;
  --third-color-silver: silver;
  --background-color-grey: lightgray;
}

body {
  background-color: var(--background-color-grey);
}
