:root {
  /* Color Variables */

  --primary-color-blue: rgb(0, 51, 153);
  --secondary-color-white: white;
  --third-color-dark-blue: rgb(12, 35, 64);
  --background-color-grey: #eeeeee;
}

body {
  background-color: var(--background-color-grey);
}
