:root {
  /* Color Variables */

  /* --primary-color-blue: rgb(0, 51, 153);
  --secondary-color-white: white;
  --third-color-dark-blue: rgb(12, 35, 64);
  --background-color-grey: #eeeeee; */

  --primary-color-blue: rgb(221, 95, 46);
  --secondary-color-white: rgb(255, 255, 255);
  --third-color-dark-blue: rgb(50, 80, 36);
  --background-color-grey: rgb(236, 229, 222);
  --red: rgb(131, 118, 206);
}

body {
  background-color: var(--background-color-grey);
}
