.answer-button {
  color: var(--secondary-color-white);
  background-color: var(--primary-color-blue);
  border: 1px solid var(--third-color-dark-blue);
  border-radius: 2px;
  padding: 5px;
  width: 50vw;
  align-self: center;
}
