@import url(../global.css);

.card {
  display: flex;
  flex-direction: column;
  margin: 20px;
  border: 2px solid var(--third-color);
  background-color: var(--secondary-color);
  border-radius: 5px;
  justify-content: space-around;
  gap: 18px;
  padding: 15px;
  position: relative;
  box-shadow: 2px 2px 2px var(--third-color);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.textarea {
  padding: 10px;
}

.remaining_characters {
  text-align: right;
  margin-top: -14px;
  font-size: small;
}

label {
  margin-bottom: -14px;
  color: var(--third-color);
}

.question {
  text-align: center;
  font-size: large;
  color: var(--third-color);
}

.answer {
  align-self: center;
}

.topic-tags {
  display: flex;
  gap: 5px;
  font-size: 0.6rem;
}

.topic-tag {
  background-color: var(--background-color);
  border: 1px solid var(--third-color);
  border-radius: 3px;
  padding: 2px;
}

.bookmark {
  position: absolute;
  top: -13px;
  right: 10px;
  height: 30px;
  width: 30px;
  background-size: 30px;
  background-image: url("../resources/bookmark.png");
}

.bookmark__filled {
  background-image: url("../resources/bookmark_filled.png");
}

.profile-pic {
  padding: 15px;
}
