@import url(../global.css);

.card {
  display: flex;
  flex-direction: column;
  margin: 10px;
  border: 2px solid var(--third-color-dark-blue);
  background-color: var(--secondary-color-white);
  border-radius: 5px;
  justify-content: space-around;
  gap: 18px;
  padding: 15px;
  position: relative;
  box-shadow: 2px 2px 2px var(--third-color-dark-blue);
}

.question {
  text-align: center;
  /* padding: 30px; */
  font-size: large;
  color: var(--third-color-dark-blue);
}

.answer {
  align-self: center;
}

.topic-tags {
  display: flex;
  gap: 5px;
  font-size: 0.6rem;
}

.topic-tag {
  background-color: var(--background-color-grey);
  border: 1px solid var(--third-color-dark-blue);
  border-radius: 3px;
  padding: 2px;
}

.bookmark {
  position: absolute;
  top: -10px;
  right: 0;
  width: 30px;
}
