header {
  padding: 10px;
  position: sticky;
  width: 100vw;
  top: 0;
  z-index: 5;
  background-color: var(--background-color);
  box-shadow: 1px 1px 1px var(--third-color);
}

h1 {
  color: var(--fourth-color);

  font-size: medium;
  text-align: center;
}
