header {
  padding: 5px;
  position: sticky;
  width: 100vw;
  top: 0;
  z-index: 5;
  background-color: var(--background-color-grey);
  box-shadow: 1px 1px 1px var(--third-color-dark-blue);
}

h1 {
  color: var(--third-color-dark-blue);

  font-size: larger;
  text-align: center;
}
